body{
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color: #333;
}
h1{font-weight: 500;}
h4{margin-top: 35px; font-size: 17px;}
h2{margin-top: 0px;}
a:hover {
    color: #a4d1f9;
  }
.animated{
 
}  
.portfolio-header{
  animation-duration: 5s;
}
section#myworks.myworks{
   /* background: url(../img/fon.jpg) center top no-repeat;
    background-size: cover;
    animation-duration: 5s;*/
}


.myworks a:after {
    position: absolute;
    content: "view";
    font-size: 40px;
    color: floralwhite;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 163, 171, 0.45);
    line-height: 1;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.myworks a:hover:after {
    opacity: 1;
    line-height: 8;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-dialog .modal-body img {
    width: 100%;
    height: auto;
}
.myworks .wrap {
    margin: 0 0 4rem;
    box-shadow: 0 6px 8px rgba(0,0,0,.2);
}
.myworks .work1 {
    background-image: url(../img/portfolio/alliskitstroy.jpg);
    background position: center top no-repeat;
    background-size: cover;
}
.myworks .work2 {
    background-image: url(../img/portfolio/matissremont.jpg);
    background position: center top no-repeat;
    background-size: cover;
  
}
.myworks .work3 {
    background-image: url(../img/portfolio/ncitadel.jpg);
    background position: center top no-repeat;
    background-size: cover;
    
}
.myworks .work4 {
    background-image: url(../img/portfolio/kupimdolg.jpg);
    background position: center top no-repeat;
    background-size: cover;
   
}
.myworks .work5 {
    background-image: url(../img/portfolio/vitannov.jpg);
    background position: center top no-repeat;
    background-size: cover;
  
}
.myworks .work6 {
    background-image: url(../img/portfolio/centrv.jpg);
    background position: center top no-repeat;
    background-size: cover;
   
}
.myworks .work7 {
    background-image: url(../img/portfolio/studio.jpg);
    background position: center top no-repeat;
    background-size: cover;

}

.myworks a {
    display: block;
    height: 350px;
    position: relative;
    font-size: 65px;
    text-align: center;
    color: #fff;
    font-weight: 100;
}

.myworks .case {
    background-color: #fff;
    min-height: 100px;
    border: 1px solid #999;
    border-top: 2px solid #000;
    text-align: center;
    padding-bottom: 10px;
}

#particles-js{
  /*height: 100vh;
  background: url('../img/Bg2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;*/
}

section#main {
  height: 100vh;
  background: url('../img/Bg2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

.main-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  
  color: #ffffffeb;
  
}

.main-header h1 {
  font-size: 3.8em;
  font-weight: 700;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid #fff;
  animation-duration: 2s;
  padding: 15px 40px;
 }


.main-header p {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4;
  margin-top: 2rem;
  animation-duration: 8s;
}

.main-line {
  height: 1px;
  background-color: #fff;
  width: 100%;
  display: block;
}

.main-arrow {
  width: 3rem;
  height: 3rem;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  position: absolute;
  left: 50%;
  bottom: 5%;
}

.portfolio-header{
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 50px 0 50px 0;
}

.portfolio-works {
  
  padding-bottom: 7rem;
}

.portfolio-box {
  display: inline-block;
  width: 33.3%;
  text-align: center;
}

.portfolio-box img {
  width: 100%;
  max-width: 280px;
}

.portfolio-box a {
  display: block;
  text-align: center;
  margin-top: 2rem;
  text-decoration: none;
  color: #555;
  font-size: 1.5rem;
}

.portfolio-box a:hover{
  background-color: #4ea5ed;
  border-radius: 5px; 
  color: white;
}

.container {
  font-size: 2rem;
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
}

footer {
  background-color: #21313e;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
}

.social-links.top-block{
  position: absolute;
  width:15%;
  top:5%;
  right: 0;
  left:85%;
}

.footer-info,
.social-links,
.callback {
  display: inline-block;
  width: 32.33%;
  vertical-align: middle;
}

.footer-info p,
.social-links,
.callback {
  font-size: 1.5rem;
}

.social-links a {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #fff;
  display: inline-block;
  width: 6rem;
  height: 6rem;
  vertical-align: middle;
  border: none;
  line-height: 7rem;
  line-height: 6.5rem;
}

.nmb-link{
  text-decoration: none;
  line-height: 60px;
  margin-left: 10px;
}

.foooter-email{
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.vk:hover .st0{
  fill: #5771a6;
  transition: all .25s ease-in-out;
}

.facebook:hover .st1{
  fill: #5360b0;
  transition: all .25s ease-in-out;
}

.github:hover .st2{
  fill: #5771a6;
  transition: all .25s ease-in-out;
}

.footer-head__copy{
  line-height: 25px;
}




@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
 

}

@media (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .container {
    width: 95%;
  }
     
  .portfolio-box,
  .footer-info,
  .social-links,
  .callback {
    width: 100%;
  }
  .portfolio-box {
    margin-bottom: 5rem;
  }
  .footer-info,
  .social-links,
  .callback {
    margin-bottom: 5rem;
  }

}

@media (max-width: 900px) {
  .portfolio-box {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    width: 65%;
}
}
